body{
    background-color: rgb(155, 201, 216);
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    word-spacing: 10px;
    line-height: 35px;
}

#validators{
    position: fixed;
    bottom: 0px;
    left: 0px;   
    opacity: 50%;   
}

h1{
    word-spacing: 0.01em;
}

p{
    font-size: 15px;
    word-spacing: 2px;
    line-height: 15px;
}

strong{
    color: green;
}