container {
    display: grid;
    grid-template-areas: 
      'header header header header header header' 
      'men men men men men men'
      'left left middle middle right right' 
      'footer footer footer footer footer footer';
  } 
 
.header{
    grid-area: header;
    background-color: rgb(150, 197, 219);
    text-align: center;
    padding: 20px 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    color: black;
}
.menu{
    grid-area: men;
    display: flex;
    background-color: rgb(24, 39, 39);
    height: 40px;
}
.menu >div{
    color: white;
    padding: 10px 10px;
    border-right: 1px black solid;
    width: 90px;
    text-align:center ;
}
.left, .middle, .right{
    padding: 10px;
    height: 300px;
}
 
.left{
    background-color: darkgrey;
    padding-left: 10px;
    grid-area: left;
 
    
}
.middle{
    background-color: rgba(213, 231, 236, 0.795);
    /* padding-left: 10px; */
    grid-area: middle;
    
}
.right{
    background-color: rgb(154, 179, 226);
    padding-left: 10px;
    grid-area: right;
    
 
}
 
.footer{
    background-color:  rgb(24, 39, 39);
    color: white;
    height: 30px;
    padding-top: 0.6em;
    text-align: center;
    grid-area: footer;
}
@media (max-width: 600px) {
    .container  {
      grid-template-areas: 
        'header header header header header header' 
        'men men men men men men'
        'left left left right right right'
        'middle middle middle middle middle middle'
        'footer footer footer footer footer footer';
    }
  }