body{
margin:0;
padding: 0;
font-size: 100%;
line-height: 1;
}
h1{
    color: cornflowerblue;
    
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: left;
    font-weight: 800;
    font-style: normal;

}
h2{
    color: rgb(78, 78, 235);
}
li{
   text-align: justify; 
   padding: 5px;
}
body{
    background-color: rgba(182, 221, 233, 0.863);
    margin: 10px;
    padding: 10px;
  
}
.w3c-css{ text-indent: 0;}
strong{
    color: rgba(22, 136, 11, 0.945);
}